@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Playfair+Display:wght@700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
form,
input,
textarea,
table,
td,
th,
header,
section,
aside,
footer,
article,
nav,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
img {
  vertical-align: bottom;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
input,
input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.clear::after {
  display: block;
  content: '';
  clear: both;
}

.w100 {
  width: 100%;
}
.mw100 {
  max-width: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 0;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #f9bf3f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #f9bf3f;
}

.slick-prev,
.slick-next {
  display: none;
}

.btn-dark.focus,
.btn-dark:focus {
  box-shadow: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}
